@import '../root.scss';

.tracking-example {
  display: flex;
  justify-content: center;
}

.control-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.control-button {
  max-width: 10rem;
  border-radius: $radius-small;
  padding: 1rem;
  cursor: pointer;
}
