@keyframes highlight-outline {
  0% {
    outline: $padding-xs solid $bright-orange;
  }

  100% {
    outline: $padding-xs solid transparent;
    // outline: 6px solid $bright-green;
  }
}

.hyper-item-highlight-outline-animate {
  animation: highlight-outline $transition-highlight ease 0;
}

.hyper-item-highlight-outline-animate-wait {
  // animation: highlight-outline $transition-highlight ease $transition-normal; // for smooth scroll
  animation: highlight-outline $transition-highlight ease $transition-fast;
}

/* -------------------------------------------------------------------------- */

@keyframes highlight-border {
  0% {
    border-width: 20px;
  }

  100% {
    border-width: 5px;
    // outline: 6px solid $bright-green;
  }
}

.hyper-item-highlight-border-animate {
  animation: highlight-border $transition-highlight ease $transition-normal;
}

/* -------------------------------------------------------------------------- */

@keyframes highlight-background {
  0% {
    background: rgba($bright-orange, $opacity-high);
  }

  100% {
    background: transparent;
  }
}

.hyper-item-highlight-background-animate {
  animation: highlight-background $transition-slow ease;
}
