@keyframes highlight-outline {
  0% {
    outline: $padding-xs solid $bright-orange;
  }

  100% {
    outline: $padding-xs solid transparent;
    // outline: 6px solid $bright-green;
  }
}

.hyper-item-highlight-outline-animate {
  animation: highlight-outline $transition-highlight ease 0;
}

.hyper-item-highlight-outline-animate-wait {
  // animation: highlight-outline $transition-highlight ease $transition-normal; // for smooth scroll
  animation: highlight-outline $transition-highlight ease $transition-fast;
}

/* -------------------------------------------------------------------------- */

@keyframes highlight-border {
  0% {
    border-width: 20px;
  }

  100% {
    border-width: 5px;
    // outline: 6px solid $bright-green;
  }
}

.hyper-item-highlight-border-animate {
  animation: highlight-border $transition-highlight ease $transition-normal;
}

/* -------------------------------------------------------------------------- */

@keyframes highlight-background {
  0% {
    background: rgba($bright-orange, $opacity-high);
  }

  100% {
    background: transparent;
  }
}

.hyper-item-highlight-background-animate {
  animation: highlight-background $transition-slow ease;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

@keyframes heart-beat {
  0% {
    opacity: 0.5;
    transform: scale(0.85);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// https://github.com/animate-css/animate.css/blob/9319952c1017ba84bc056a8545916d68168c1d53/source/attention_seekers/tada.css#L1
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.animation-tada {
  transform-origin: left;
  animation: tada $transition-normal ease-in-out;
}

/* -------------------------------------------------------------------------- */

// animate.css
@keyframes bounce-in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animation-bounce-in {
  animation-duration: $transition-slow;
  animation-name: bounce-in;
  transform-origin: center;
}
