.level-error {
  &.hyper-log-stream {
    &.stream-expand .logs-wrapper {
      border-top: 2px solid $error-red;
      border-bottom: 2px solid $error-red;
      background: $error-red-light;

      @include scrollbar(
        $scrollbar-width,
        $error-red-light,
        $error-red-dark,
        $error-red-dark
      );
    }
  }

  &.hyper-log-stream-name {
    // background: rgba($elegant-red, $opacity-mid);

    * {
      color: $error-red;
    }

    svg * {
      fill: $error-red !important;
    }
  }

  &.hyper-log {
    .shape-log-note {
      * {
        color: $error-red;
      }
    }
  }

  &.timeline-log-item-wrapper {
    background: rgba($error-red-light, $opacity-xxh);
  }
}

.level-warn {
  &.hyper-log-stream {
    &.stream-expand .logs-wrapper {
      border-top: 2px solid $warn-yellow;
      border-bottom: 2px solid $warn-yellow;
      background: $warn-yellow-light;

      @include scrollbar(
        $scrollbar-width,
        $warn-yellow-light,
        $warn-yellow-dark,
        $warn-yellow-dark
      );
    }
  }

  &.hyper-log-stream-name {
    * {
      color: $warn-yellow-dark;
    }

    svg * {
      fill: $warn-yellow-dark !important;
    }
  }

  &.hyper-log {
    .shape-log-note {
      * {
        color: $warn-yellow-dark !important;
      }

      svg * {
        fill: $warn-yellow-dark !important;
      }
    }
  }

  &.timeline-log-item-wrapper {
    background: rgba($warn-yellow-light, $opacity-xxh);
  }
}
