@import 'root.scss';

.hyper-log {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  width: fit-content;
  min-height: min-content;
  transform-origin: top;

  overflow: hidden;

  &.log-in-history {
    pointer-events: none;
  }

  &.log-current {
    outline: $outline-dark;
  }

  // &.log-expand {
  //   margin-bottom: $padding-xs !important;
  // }
}

.hyper-log-stream {
  &:not(.stream-expand) {
    .hyper-log-body {
      max-width: $max-log-width;
      max-height: $max-log-unexpanded-stream-height;
      overflow: scroll;

      scrollbar-width: none;

      /* width */
      &::-webkit-scrollbar {
        scrollbar-gutter: stable both-edges;
        position: absolute;
        width: $scrollbar-width;
        height: $scrollbar-width;
        background: transparent;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $grey;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $dark-grey;
      }

      &:has(.unfolded-inner) {
        // width: $max-log-width !important;
      }
    }
  }

  .stream-expand {
    .hyper-log-body {
      // overflow: scroll;
    }
  }
}

.hyper-log-body {
  display: flex;
  flex-direction: column;
  gap: $padding-xs;
  justify-content: flex-start;
  align-items: flex-start;

  padding: $padding-small calc($padding-small - $scrollbar-width)
    calc($padding-small - $scrollbar-width) $padding-small;
  overflow-wrap: break-word;

  background: rgba($light-grey, $opacity-default);
  // backdrop-filter: blur(5px);

  // user-select: all;
  // &:focus {
  //   animation: select 100ms step-end forwards;
  // }

  .hyper-log-body-header {
    display: inline-flex;
    gap: $padding-large;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .timestamp {
      color: $grey;
    }

    .source-location {
      color: $dark-grey;
    }

    .timestamp,
    .source-location {
      @include font-fixed;
      font-size: $font-size-small;
      white-space: nowrap;
    }
  }
}

.hyper-log-body-content {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: row;
  gap: $padding-small;

  .hyper-log-count {
    @include font-fixed;
    color: $white;
    background: $grey;
    font-size: $font-size-xs;
    line-height: 100%;
    white-space: nowrap;
    // width: calc($font-size-small + $padding-xxs * 2);
    padding: $padding-xxs $padding-xs;
    // border-radius: 50%;

    display: flex;
    justify-content: center;
  }
}

/* -------------------------------------------------------------------------- */

.shape-stream {
  .hyper-shape-log {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    .shape-log-note {
      font-size: $font-size-small;
      color: $light-grey;
      padding: 0 $padding-xs;
    }
  }
}
