@import 'root.scss';

.hyper-log-streams-holder {
  position: fixed;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: min-content;
  // height: 100vh;
  // overflow-y: scroll;
  // overflow-x: visible;

  pointer-events: none;
}

/* -------------------------------------------------------------------------- */

.hyper-log-stream {
  display: flex;
  position: relative;
  block-size: fit-content;

  pointer-events: initial;

  &.shape-stream .logs-wrapper {
    padding: 0;
  }

  .logs-wrapper {
    position: relative;
    display: flex;

    margin: 0;
    padding: 1px; // !important
    // transition: width $transition-normal, height $transition-normal;

    // pointer-events: none;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }
  }

  &.stream-expand .logs-wrapper {
    padding: $padding-xs calc($padding-xs + 1px - $scrollbar-width) $padding-xs
      calc($padding-xs + 1px);
    // z-index: -1;

    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    background: $light;

    @include scrollbar($scrollbar-width, $light, $grey, $dark-grey);
  }

  &.stream-expand:not(.shape-stream) .logs-wrapper {
    gap: $padding-xs;
    overflow: scroll;
    max-height: $max-log-wrapper-height-text;
  }

  &.stream-expand.shape-stream .logs-wrapper {
    gap: $padding-xxs;
    overflow: scroll;
    max-height: $max-log-wrapper-height-shape;
  }

  &.stream-horizontal {
    flex-direction: column;
  }

  &.stream-vertical {
    flex-direction: row;
  }
}
