// ! name

.hyper-log-stream-name {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: center;
  gap: $padding-xs;

  background: rgba($light, $opacity-high);
  backdrop-filter: blur($blur-xh);
  box-shadow: 0 1px 0 0 $white;

  width: 100%;

  color: $black;
  font-size: $font-size-small;
  margin: 0;
  padding: $padding-xs 0;
  white-space: nowrap;
  user-select: none;

  & > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $padding-xs;

    padding: 0;
    margin: 0;
  }

  svg {
    font-size: $font-size-small;
    pointer-events: none;
  }

  .name-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc($font-size-small + 2 * $padding-xxs);
    height: calc($font-size-small + 2 * $padding-xxs);
    // margin: -$padding-xxs;
    padding: 0;
    // border-radius: $radius-xs;

    svg path {
      fill: $light-grey;
    }

    &:hover {
      background: $dark-grey;

      svg path {
        fill: $white !important;
      }
    }

    &.active-icon {
      svg path {
        fill: $dark-grey;
      }
    }
  }

  .hyper-log-stream-name-relink {
    &:hover {
      cursor: crosshair;
    }
  }

  .center-stage-holder {
    .center-stage-id-copy {
      cursor: pointer;
      user-select: none;

      &:active {
        background: $bright-orange;
      }
    }

    .stage-id-nav {
      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      .center-stage-id-part {
        font-size: $font-size-small;
        line-height: 100%;
        padding: $padding-xxs 1px;

        &:not(.center-stage-id-last) {
          cursor: alias;

          &:hover {
            background: $dark-grey;
            color: $white;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */

// ! menu

$menu-height: calc($font-size-small + $padding-small * 2 + $padding-xxs * 2);
$menu-height-text: calc(
  $font-size-small + $padding-xs * 2 + $padding-xxs * 3 + $font-size-xs
);

@mixin menu-item-special-config($color) {
  svg path {
    fill: $color;
  }
  &:hover {
    background: $color;
    svg path {
      fill: $white;
    }
  }
}

.hyper-log-stream-menu {
  position: relative;

  display: flex;
  align-items: center;
  gap: $padding-xxs;

  opacity: 0;
  height: 0;
  overflow: hidden;
  pointer-events: none;

  transition-property: height, margin, opacity;
  transition-delay: 0;
  transition-duration: $transition-fast;
  transition-timing-function: ease-in-out;

  // margin: 0;
  padding: 0;
  // z-index: 9990;

  // border-radius: calc($radius-small + $padding-xxs);
  // background: rgba($light-grey, $opacity-high);

  user-select: none;

  &.menu-start {
    justify-content: flex-start;
  }

  &.menu-end {
    justify-content: flex-end;
  }

  &.stream-menu-horizontal {
    width: 100%;
    margin: 0 0 $padding-small 0;
    flex-direction: row;
  }

  &.stream-menu-vertical {
    height: 100%;
    margin: 0 $padding-small 0 0;
    flex-direction: column;
  }

  .stream-menu-item {
    display: flex;
    flex-direction: column;
    gap: $padding-xxs;
    justify-content: center;
    align-items: center;

    color: $dark-grey;
    background: $light-grey;

    // margin: $padding-xxs;
    // padding: $padding-xs $padding-small;
    padding: $padding-small;
    border-radius: $radius-small;

    user-select: none;
    cursor: pointer;

    // tip
    span {
      display: none;
      color: $dark-grey;
      font-size: $font-size-xs;
      // display: none;
    }

    * {
      user-select: none;
    }

    svg {
      font-size: $font-size-small;
    }

    svg path {
      fill: $dark-grey;
    }

    &.menu-expand-item,
    &.menu-choosing-item {
      background: $dark-grey !important;

      svg path {
        fill: $white;
      }
    }

    &.menu-delete-item {
      @include menu-item-special-config($elegant-red);
    }

    &.menu-pause-item {
      @include menu-item-special-config($elegant-yellow);
    }

    &.menu-resume-item {
      @include menu-item-special-config($elegant-green);
    }

    &.menu-already-center-staged {
      background: $bright-yellow;

      path {
        fill: $white !important;
      }

      &:hover,
      &.menu-choosing-item {
        path {
          fill: $bright-yellow !important;
        }
      }
    }

    // &.menu-un-center-staged-item,
    // &.menu-un-center-staged-item:hover {
    //   background: $bright-yellow;

    //   path {
    //     fill: $white;
    //   }
    // }

    // &.special-menu-item {
    //   margin-top: $padding-small;
    // }

    &:hover {
      background: $grey;

      // span {
      //   display: block;
      // }
    }
  }

  // .item-divider {
  //   width: 0;
  //   height: 0;
  //   margin: 0 $padding-xs;
  // }
}

.stream-hovered,
.stream-expand,
.stream-current {
  &:not(.in-grabbing) .hyper-log-stream-menu {
    // .hyper-log-stream-menu {
    pointer-events: initial !important;
    opacity: 1 !important;

    &.stream-menu-horizontal {
      height: $menu-height !important;
      // width: 100% !important;
      margin: $padding-xs 0;
    }

    &.stream-menu-vertical {
      width: $menu-height !important;
      // height: 100% !important;
      margin: 0 $padding-xs;
    }
  }
}
