@import 'root.scss';

.hyper-log-streams-holder {
  position: fixed;

  display: flex;
  flex-direction: column;
  // flex-flow: column wrap-reverse;
  gap: 0 $padding-large;

  // width: 100%;
  width: max-content;
  height: min-content;
  max-height: 100vh;
  // overflow-y: scroll;
  // overflow-x: visible;

  pointer-events: none;

  &.snap-holder {
    width: min-content !important;
  }
}

/* -------------------------------------------------------------------------- */

.hyper-log-stream {
  display: flex;
  position: relative;
  block-size: fit-content;

  pointer-events: initial;

  ////
  // not sure if the optimization is needed
  &.absolute-stream {
    width: max-content;
  }

  &.stream-expand {
    max-width: $absolute-max-log-width !important;

    &:not(.shape-stream) .logs-wrapper {
      width: max-content;
      max-width: 80vw;
    }
  }
  ////

  &.shape-stream .logs-wrapper {
    padding: 0;
  }

  .logs-wrapper {
    position: relative;
    display: flex;

    margin: 0;
    padding: 1px; // !important
    // transition: width $transition-normal, height $transition-normal;

    // pointer-events: none;

    &.timeline-logs-wrapper:not(:has(.hyper-shape-log)),
    &.timeline-logs-wrapper .hyper-log:not(.hyper-shape-log) {
      max-width: $max-log-width !important;
      width: $max-log-width !important;
    }

    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;
    }
  }

  &.stream-expand .logs-wrapper {
    padding: $padding-xs calc($padding-xs + 1px - $scrollbar-width) $padding-xs
      calc($padding-xs + 1px);
    // z-index: -1;

    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    background: $light-grey;

    @include scrollbar($scrollbar-width, $light-grey, $grey, $dark-grey);
  }

  &.stream-expand:not(.shape-stream) .logs-wrapper {
    gap: $padding-xs;
    overflow: scroll;
    max-height: $max-log-wrapper-height-text;
  }

  &.stream-expand.shape-stream .logs-wrapper {
    gap: $padding-xxs;
    overflow: scroll;
    max-height: $max-log-wrapper-height-shape;
  }

  &.stream-horizontal {
    flex-direction: column;
  }

  &.stream-vertical {
    flex-direction: row;
  }
}
