.forced-outline-bound {
  outline: 6px solid rgba($bright-orange, $opacity-high);
}

.forced-outline-bound-mid {
  outline: 6px solid rgba($bright-orange, $opacity-high);
  outline-offset: -3px;
}

.forced-outline-bound-inside {
  outline: 6px solid rgba($bright-orange, $opacity-high);
  outline-offset: -6px;
}

/* -------------------------------------------------------------------------- */

.sudo-pointer-element {
  position: absolute;

  width: 6px;
  height: 6px;
  background: transparent;
  // border-radius: 50%;

  z-index: 9999;
  transform: translate(-50%, -50%);
  pointer-events: none;

  &.show-sudo-pointer {
    background: $elegant-red !important;
  }
}

.leader-line {
  z-index: 9998;
  // pointer-events: none;
}
