$black: #333;
$dark-grey: #666;
$grey: #999;
$light-grey: #ccc;

$white: #fff;

$opacity-default: 0.9;
$opacity-high: 0.5;

/* -------------------------------------------------------------------------- */

$radius-small: 0.25rem;
$radius-large: 0.5rem;

$padding-small: 0.5rem;
$padding-large: 1rem;
$padding-x-large: 2rem;

$font-size-default: 0.875rem;
$font-size-small: 0.75rem;

/* -------------------------------------------------------------------------- */

$rem-to-px: 16;
