$black: #333;
$dark-grey: #666;
$dark-mid-grey: #777;
$grey: #999;
$light-grey: #cfcfcf;
$light: #efefef;
$white: #fff;

$elegant-red: #e23e57;
$elegant-yellow: #f07b3f;
$elegant-green: #00b8a9;

$undefined: #ff06b7;
$number: #008eec;
$string: #ff7337;

$element-outline-bound: #ffa500;

$opacity-default: 0.95;
$opacity-mid: 0.75;
$opacity-high: 0.5;

/* -------------------------------------------------------------------------- */

$max-log-width: 12rem;

$radius-small: 0.25rem;
$radius-large: 0.5rem;

$padding-xxs: 0.125rem;
$padding-xs: 0.25rem;
$padding-small: 0.5rem;
$padding-mid: 0.9rem;
$padding-large: 1rem;
$padding-x-large: 2rem;

$font-size-xs: 0.5rem;
$font-size-small: 0.675rem;
$font-size-default: 0.75rem;

$transition-fast: 100ms;
$transition-normal: 300ms;

$outline-light: 1px solid $light-grey;
$outline-dark: 1px solid $black;

/* -------------------------------------------------------------------------- */

$rem-to-px: 16;

@function unit-rem-to-px($value) {
  @return calc($value / $rem-to-px);
}

/* -------------------------------------------------------------------------- */

@keyframes select-text {
  to {
    user-select: text;
  }
}

/* -------------------------------------------------------------------------- */

.up-front {
  z-index: 999999999 !important;
}

.cursor-crosshair {
  cursor: crosshair !important;
}

.cursor-grab {
  cursor: grab !important;
}

.cursor-grabbing {
  cursor: grabbing !important;
}

.no-pointer-events {
  pointer-events: none !important;

  * {
    pointer-events: none !important;
  }
}

/* -------------------------------------------------------------------------- */

@mixin font-fixed {
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}
