$black: #333;
$dark-grey: #666;
$dark-mid-grey: #777;
$grey: #999;
$light-grey: #cfcfcf;
$light: #efefef;
$white: #fff;

$elegant-red: #e23e57;
$elegant-yellow: #f07b3f;
$elegant-green: #00b8a9;

$bright-green: #00d33c;

$undefined: #ff06b7;
$number: #008be8;
$string: #ff4d00;
$boolean: #00aeaa;
$function: #13a600;

$element-outline-bound: #fba300;
$purple: #57068c;

$opacity-default: 0.95;
$opacity-mid: 0.75;
$opacity-high: 0.5;
$opacity-xh: 0.15;

/* -------------------------------------------------------------------------- */

$max-log-width: 20rem;
$max-log-unexpanded-stream-height: 22rem;
$max-log-wrapper-height-text: 32rem;
$max-log-wrapper-height-shape: 32rem;

$radius-small: 0.25rem;
$radius-large: 0.5rem;

// PADDING
$padding-xxs: 0.125rem;
$padding-xs: 0.25rem;
$padding-small: 0.5rem;
$padding-mid: 0.9rem;
$padding-large: 1rem;
$padding-x-large: 2rem;

$scrollbar-width: $padding-xs;
$scrollbar-width-large: $padding-small;

// FONT
$font-size-xs: 0.5rem;
$font-size-small: 0.675rem;
$font-size-default: 0.75rem;

$transition-fast: 100ms;
$transition-normal: 300ms;
$transition-slow: 700ms;
$transition-highlight: 3000ms;

$outline-light: 1px solid $light-grey;
$outline-dark: 1px solid $black;

$outline-highlight: 1px solid $elegant-red;

/* -------------------------------------------------------------------------- */

$rem-to-px: 16;

@function unit-rem-to-px($value) {
  @return calc($value / $rem-to-px);
}

/* -------------------------------------------------------------------------- */

@keyframes select-text {
  to {
    user-select: text;
  }
}

/* -------------------------------------------------------------------------- */

.up-front {
  z-index: 999999999 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-crosshair {
  cursor: crosshair !important;
}

.cursor-grab {
  cursor: grab !important;
}

.cursor-grabbing {
  cursor: grabbing !important;
}

.no-pointer-events {
  pointer-events: none !important;

  * {
    pointer-events: none !important;
  }
}

.trans-fast {
  transition: all $transition-fast;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* -------------------------------------------------------------------------- */

@mixin font-fixed {
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}

/* -------------------------------------------------------------------------- */

@mixin scrollbar($track-width, $track-color, $thumb-color, $thumb-color-hover) {
  /* width */
  &::-webkit-scrollbar {
    width: $track-width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumb-color-hover;
  }
}
