$selection-dot-size: $padding-large;
$all-way-dot-size: $padding-x-large;

.hyper-selection-rect {
  z-index: 9900;

  // .hyper-selection-area-unselected {
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   width: 100vw;
  //   height: 100vh;
  //   background-color: $dark-grey;
  //   opacity: $opacity-xxh;
  // }

  .hyper-selection-rect-area {
    position: fixed;
    // background: rgba($elegant-blue, $opacity-xxh);
    pointer-events: none;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba($grey, $opacity-xxx-h);
  }

  .hyper-selection-dot {
    position: fixed;
    border-radius: 50%;
    width: $selection-dot-size;
    height: $selection-dot-size;
    // background-color: $elegant-blue;
    background-color: $dark-grey;
    outline: 3px solid $white;
    outline-offset: -1px;
  }

  .all-way-move-dot {
    display: flex;
    align-items: center;
    justify-content: center;

    width: $all-way-dot-size !important;
    height: $all-way-dot-size !important;

    outline: none !important;
    transform: translate(-50%, -50%);
    cursor: all-scroll;

    svg {
      opacity: $opacity-high;
      font-size: $font-size-large;

      path {
        fill: $white;
      }
    }
  }

  .s-dot {
    transform: translate(-50%, -50%);
  }
}
