$expand-transition-time: $transition-normal;

.hyper-log-timeline {
  position: fixed;

  display: flex;
  flex-direction: column;

  width: max-content;
  max-height: 100vh;

  margin: 0;
  padding: 0;

  transition: transform $transition-normal ease-in-out,
    opacity $transition-slow ease-in-out;

  .timeline-name {
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-shrink: 0;

    gap: $padding-x-large;
    background: $light !important;

    padding: 0 !important;
    height: $padding-xx-large !important;

    user-select: none;
    border: none !important;

    .pseudo-expander {
      flex-grow: 1;
      flex-shrink: 0;

      height: 100%;
    }

    .timeline-name-text {
      font-weight: 700;
    }

    .timeline-name-title {
      width: 100%;
      gap: 0;

      flex-shrink: 1;
      flex-grow: 1;

      .timeline-move-icon {
        margin: 0 $padding-small;
      }
    }

    .timeline-name-icons {
      flex-shrink: 0;
      flex-grow: 1;
    }

    .timeline-icon {
      padding: $padding-xs;

      cursor: pointer;
      pointer-events: initial !important;

      &.timeline-back-icon {
        transform: rotate(180deg);
      }

      &.timeline-restart-icon {
        path {
          fill: $elegant-green;
        }

        &:hover {
          background: $elegant-green;

          path {
            fill: $white;
          }
        }
      }

      &.timeline-area-icon {
        // path {
        //   fill: $elegant-blue;
        // }

        &.timeline-area-enabled-icon {
          path {
            fill: $elegant-blue;
          }
        }

        &:hover {
          background: $elegant-blue !important;

          path {
            fill: $white !important;
          }
        }
      }

      &:hover {
        &.timeline-back-icon,
        &.timeline-fold-icon,
        &.timeline-expand-icon {
          background: $dark-grey;

          path {
            fill: $white;
          }
        }

        &.timeline-pause-icon {
          background: $elegant-yellow;

          path {
            fill: $white;
          }
        }
      }
    }
  }

  .timeline-scroll-wrapper {
    height: 100%;
    overflow-y: scroll;
    // padding: 0 $padding-xs 0 0;
    padding: 0;

    // scroll-behavior: smooth;

    background: rgba($white, $opacity-mid);
    backdrop-filter: blur($blur-xh);

    flex-grow: 1;

    @include scrollbar($scrollbar-width-large, $white, $grey, $dark-grey);
    &::-webkit-scrollbar {
      // height: $scrollbar-width-large;
      height: 0;
    }

    .timeline-background-alignment {
      z-index: 0;
      position: absolute;
      height: 100%;
      // width: 100%;
      // background: rgba($grey, $opacity-xxh);
      border-left: 2px solid $light;

      &:hover {
        border-left: 2px solid $grey;
      }
    }
  }

  .timeline-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    // gap: $padding-xs;
    flex-shrink: 0;
    flex-wrap: nowrap;

    // overflow-y: scroll;
    padding: $padding-small 0 $padding-xs 0;
  }

  .timeline-stream-item-wrappers-header {
    cursor: pointer;
    transition: background-color $transition-normal ease-in-out,
      border $expand-transition-time ease-in-out;

    &.filtered-out-group-header {
      // background: $dark-grey;

      span {
        color: $dark-grey !important;
      }
    }

    span {
      display: inline-block;
      margin: 0 0 0 $padding-xs;
      padding: $padding-small $padding-xs $padding-xs $padding-xs;

      color: $grey;
      font-size: $font-size-small;

      transition: color $transition-normal ease-in-out;
    }
  }

  .timeline-log-item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $padding-mid;

    // z-index: 1;
    padding: 0 $padding-xs 0 0;

    transform-origin: center;
    transition: max-height $transition-normal
        cubic-bezier(0.645, 0.045, 0.355, 1),
      border $expand-transition-time ease-in-out;
    overflow: hidden;

    .hyper-log-stream-in-time {
      flex-shrink: 0;
      padding: $padding-xxs 0 $padding-xxs $padding-xs;
      margin: 0 0 0 $padding-xs;
      // margin: 0;

      .hyper-log:not(.hyper-shape-log) {
        background: $white !important;
        backdrop-filter: none;
      }
    }

    .pseudo-expander {
      flex-grow: 1;
      flex-shrink: 0;

      height: 1rem;
    }

    .timeline-timestamp {
      @include font-fixed;
      font-size: $font-size-small;
      padding: $padding-xxs 0;

      // flex-grow: 1;
      flex-shrink: 0;
      text-align: right;
    }
  }

  /* -------------------------------------------------------------------------- */

  .timeline-alignment-box {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;

    // transition: left $transition-normal ease-in-out, opacity $transition-normal !important;
    transition: left $expand-transition-time ease-in-out;

    &.hidden-alignment-box {
      opacity: 0;
    }

    &.indentation-box {
      border-left: $padding-xxs solid $light;
    }

    &.declaration-box {
      border-left: $padding-xs solid $light-grey;
    }
  }
}
