$confirm: #7900ff;

$black: #333;
$dark-grey: #666;
$grey: #999;
$light-grey: #ccc;

$white: #fff;

/* -------------------------------------------------------------------------- */

$radius-small: 5px;
$radius-large: 9px;
